# Evita subir o node_modules (pesado e desnecessário)
node_modules/

# Nunca envie seu arquivo de variáveis sensíveis
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Caches
.cache/
dist/

# VS Code configs
.vscode/

# Mac e Windows
.DS_Store
Thumbs.db

.env*
*.key
*.pem
*.crt
*.cert
*.json
*.sqlite
